#prihlaseni {
	background-color: #BAC5DB;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -100px;
	padding: 10px 10px 10px 10px;
}
.nadpis {
	position: absolute;
	left: 50%;
	margin-left: -245px;
}
.main {
	position: absolute;
	top: 120px;
}
.task {
	width: 100%;
}
.task:hover{
	background-color: #A3CFCA;
	cursor: pointer;
}
.task_self{
		width: 40%;
		position: absolute;
		left: 50%;
		margin-left:-20%;
		cursor: default;
		background-color: #C8DEE3;
	}
.zahlavi_tab {
	width: 100%;
}
.zahlavi {
	font-weight: bold;
	margin-bottom: 5px;
	width: 25%;
}
.zahlavi_s {
	font-weight: bold;
	margin-bottom: 5px;
	width: 16.6%;
}
.zahlavi_val{
	width: 25%;
}
.zahlavi_val_s{
	width: 16.6%;
}
.seznam {
	background-color: #DAE6E4;
	margin-bottom: 5px;
	position: relative;
	cursor: pointer;
}
.seznam:hover {
	background-color: #A3CFCA;
}
#task_cell {
	width: 30%;
}
.zahlavi_seznam {
	font-weight: bold;
}
#new_task{
	width: 30%;
	background-color: #D4F7CB;
	position: absolute;
	left: 50%;
	margin-left: -15%;
}
.popis {
	Max-width: 90%;
	width: 90%;
	margin: 5px 0px 5px 10px;
	height: 100px;
}
.send {
	margin-left: 35%;
}
.odkaz {
	border-style: none;
	border-color:#DAE6E4;
	}